
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

:root {
    --red: #ff0000;
    --red-base: #FF3737;
    --red-secondary: #f12a2a;
    --white-base: #FFFFFF;
    --white-smoke-base: #EBEBEB;
    --black-base: #000000;
}

.cover-viewport {
    height: 100vh;
    width: 100%;
}

.fixed-bg {
    background-image: url(/media/images/billa-hero-4K.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}