
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

:root {
    --red: #ff0000;
    --red-base: #FF3737;
    --red-secondary: #f12a2a;
    --white-base: #FFFFFF;
    --white-smoke-base: #EBEBEB;
    --black-base: #000000;
    --grey-fade: #c2c2c2;
}

::selection {
    background-color: var(--red-secondary);
    color: var(--white-base);
}

/* utility classes*/

.uppercase { text-transform: uppercase;}
.cover-viewport { height: 100vh; width: 100%;}
.list-style-none { list-style: none; padding: 0; margin: 0;}
.list-inline { display: flex; gap: var(--list-gap, 2rem);}
.flex { display: flex; gap: var(--gap, 1rem);}
.grid { display: grid; gap: var(--gap, 1rem);}

/* welcome screen */

.fixed-bg {
    background-image: url(/media/images/billa-hero-4K.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.fixed-bg h1 {
    font-size: 3rem;
    margin-block-end: 0;
}

.welcome-screen-arrow {
    margin-block-start: 5rem;
    margin-block-end: 5rem;
}

.welcome-screen-div {
    background: linear-gradient(to bottom, transparent, white 100%);
    flex-flow: column nowrap;
    justify-content: end;
    text-align: center;
    --gap: 0;
}

.welcome-screen-div>* {
    margin-inline-start: 1rem;
    margin-inline-end: 1rem;
    font-size: 110%;
}

/* navigation */

#primary-nav-logo {
    margin-block-start: 1.5rem;
    margin-inline-start: 2rem;
    margin-inline-end: 2rem;
    margin-block-end: 1.5rem;
    /* brand name or logo decor */
}

.nav-base {
    background: var(--red-base);
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    color:var(--white-base);
}

.nav-base ::selection {
    background-color: var(--white-base);
    color: var(--red-secondary);
}

.nav-base ul {
    align-items: center;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-inline-end: 3rem;
    --gap: 3rem;
}

.nav-base a {
    color: var(--white-smoke-base);
    text-decoration: none;
    font-weight: 400;
}

.nav-base a:hover:not(.link-active) {
    text-decoration: underline;
}

.nav-base .link-active {
    font-weight: bold;
}

/* containers */

.container-base {
    max-width: min(90vw, var(--max-spc-width, 960px));
}

.container-center {
    max-width: min(90vw, var(--max-spc-width, 960px));
    margin: auto;
}

/* sections */

.section-base {
    padding-block-start: 1rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    padding-block-end: 1rem;
}

.section-offwhite {
    background-color: var(--white-smoke-base);
    padding-block-start: 1rem;
    padding-inline-start: 1.2rem;
    padding-inline-end: 1.2rem;
    padding-block-end: 1rem;
}

/* footer */

.footer-base {
    background-color: var(--red-base);
    flex-direction: column;
    align-items: center;
    --gap: 1.5rem;
    color: var(--white-base);
    padding-block-start: 2rem;
    padding-block-end: 0.75rem;
    margin-block-start: 2rem;
}

.footer-base ::selection {
    background-color: var(--white-base);
    color: var(--red-secondary);
}

.footer-heading {
    font-size: 1.5rem;
    font-weight: bold;
}

.footer-base a {
    text-decoration: none;
    color: var(--white-base);
    font-weight: 400;
    --gap: 3rem;
}

/* blogs */

.blog-list {
    --gap: 1.5rem;
    list-style: none;
    margin-block-end: 1rem;
}

@media (min-width:960px) {
    .blog-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width:640px) and (max-width:960px) {
    .blog-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

.blog-card {
    border: solid 1px;
    border-color: var(--grey-fade);
    --max-spc-width: 100%;
    transition: 90ms ease-out;
}
.blog-card>div {
    margin-block-start: 0.6rem;
    margin-inline-start: 0.8rem;
    margin-inline-end: 0.8rem;
    margin-block-end: 0.6rem;
}

.blog-card h1 {
    margin: 0;
    font-size: 1.4rem;
}

.blog-card-cover {
    height: 40%;
    width: 100%;
}

.blog-card:hover {
    transition: 150ms ease-in;
    transform: scale(105%);
}

.author-info {
    justify-content: space-between;
}

.blog-stat {
    --gap: 0.7rem;
}

.more-blogs {
    justify-content: center;
    align-items: center;
}

